{% extends 'header.html' %}

{% block title %} Dashboard {% endblock %}

{% block content %}
<div class="widget-accordion">
    <div class="accordion-toggle text-center">
        <div class="title">
            <b>Marketplace</b>
            <a href="{{ url }}/create_view/1">[Add Data]</a>
        </div>
    </div>
    <div class="accordion-content default col-md-3">            
        <table id="table-marketplace" class="table datatable">
            <!-- set in jquery -->
        </table>
    </div>
    <div class="accordion-toggle text-center">
        <div class="title">
            <b>Products</b>
        </div>
    </div>
    <div class="accordion-content default col-md-3">            
        <table id="table-products" class="table datatable">
            <!-- set in jquery -->
        </table>
    </div>
    <div class="accordion-toggle text-center">
        <div class="title">
            <b>Transaction</b>
            <a href="{{ url }}/create_view/2">[Add Data]</a>
        </div>
    </div>
    <div class="accordion-content">
        <div class="toggle-filter text-center">
            <form method="GET" onsubmit="event.preventDefault(); filter_by_date('tr')">                
                <label>Search from</label>
                <input type="date" name="" id="tr_date_from">
                <label>to</label>
                <input type="date" name="" id="tr_date_to">
                <input type="submit" name="" id="btn_search_tr_by_date">
                <input type="reset" name="">
            </form>
        </div>
        <table id="table-transaction" class="table datatable">
            <!-- set in jquery -->
        </table>
    </div>
    <div class="accordion-toggle text-center">
        <div class="title">
            <b>Payout Types</b>
            <a href="{{ url }}/create_view/3">[Add Data]</a>
        </div>
    </div>
    <div class="accordion-content col-md-3">
        <table id="table-payout-type" class="table datatable">
            <!-- set in jquery -->
        </table>
    </div>
    <div class="accordion-toggle text-center">
        <div class="title">
            <b>Payout</b>
            <a href="{{ url }}/create_view/4">[Add Data]</a>
        </div>
    </div>
    <div class="accordion-content">
        <table id="table-payout" class="table datatable">
            <!-- set in jquery -->
        </table>
    </div>
</div>
{% endblock %}