{% extends 'header.html' %}

{% block title %} Update {% endblock %}

{% block content %}
    <!-- Create a Form -->
    <form method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}

        {% if dataset == '1' %}
            <!-- {{ formset.form.as_p }} -->
        <table>
            <tr>   
                <td>
                    <label for="id_mp_name">Marketplace name:</label>
                    <input type="text" name="mp_name" maxlength="200" required="" id="id_mp_name" value="{{ data_mp_id.mp_name }}">
                </td>
            </tr>
        </table>
        {% else %}
        <table>
            <tr>
                <td>
                    <label for="id_date">Date created:</label>
                </td>
                <td>
                    <input type="date" name="date" class="datepicker" required="" id="id_date" value="{{ data_trx.date|date:'Y-m-d' }}">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="id_mp_id">Select marketplace:</label>
                </td>
                <td>
                    <select name="mp_id" required="" id="id_mp_id">
                        <option value="">-select-</option>
                        {% for data in data_mp %}
                            <option value="{{ data.id }}" {% if data.id == data_trx.mp_id.id %} selected {% endif %}>{{ data.mp_name }}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="id_order_id">Order id:</label>
                </td>
                <td>
                    <input type="text" name="order_id" maxlength="200" required="" id="id_order_id" value="{{ data_trx.order_id}}">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="id_product_name">Product name:</label>
                </td>
                <td>
                    <input type="text" name="product_name" maxlength="200" required="" id="id_product_name" value="{{ data_trx.product_name}}">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="id_product_category">Product category:</label>
                </td>
                <td>
                    <input type="text" name="product_category" maxlength="200" required="" id="id_product_category" value="{{ data_trx.product_category}}">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="id_quantity">Quantity:</label>
                </td>
                <td>
                    <input type="number" name="quantity" required="" id="id_quantity" value="{{ data_trx.quantity }}">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="id_selling_price">Selling price:</label>
                </td>
                <td>    
                    <input type="number" name="selling_price" step="0.01" required="" id="id_selling_price" value="{{ data_trx.selling_price }}">                    
                </td>
            </tr>
            <tr>
                <td>
                    <label for="id_basic_price">Basic price:</label>
                </td>
                <td>
                    <input type="number" name="basic_price" step="0.01" required="" id="id_basic_price" value="{{ data_trx.basic_price }}">
                </td>
            </tr>
            <tr>
                <td> 
                    <label for="id_notes">Notes:</label>
                </td>
                <td>
                    <textarea name="notes" cols="40" rows="10" maxlength="500" required="" id="id_notes" style="width: 298px; height: 146px;">{{ data_trx.notes }}</textarea>
                </td>
            </tr>
        </table>
        {% endif %}
        <div class="text-left">
            <input type="submit" value="Update">
            <input type="reset">
        </div>
    </form>
{% endblock %}